ul{
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    width: 64px;
    max-width: 64px;
    box-sizing: border-box;    
    li{
        max-width:64px;
       height: 34px;
       line-height: 34px;
       text-align: center;
       color: #606266;
       cursor: pointer;
       &:hover{
           background-color: #f5f7fa;
       }
    }
}
